<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td{
            border: 1px solid #ccc;
            text-align: left;
            padding: 8px;
        }
        th{
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>List of movies</h2>
    <table>
        <thead>
             <tr>
                <th>Title</th>
                <th>Duration</th>
                <th>Year</th>
                <th>Relevance</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td> {{ movie.title }}</td>
                    <td> {{ movie.duration }}</td>
                    <td> {{ movie.year }}</td>
                    <td> {{ movie.relevance }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>